<h2><%= @game %> streams <small>from <a href="http://www.twitch.tv">twitch</a></small></h2>

<%= for row <- Enum.chunk(@streams, 6, 6, []) do %>
    <div class="row">
    <%= for stream <- row do %>
        <%= render "stream.html", stream: stream %>
    <% end %>
    </div>
<% end %>

