<h2><%= @game %> streams <small>from <a href="http://www.twitch.tv">twitch</a></small></h2>

<div class="row">
<%= for stream <- @streams do %>
    <%= render "stream.html", stream: stream %>
<% end %>
</div>
